{% extends "base.html" %}

{% block content %}

<h1>{{chat.group.name}} | {{ chat.name }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'chat:reply' chat.id %}" method="post">
{% csrf_token %}
<input type="text" name="message" />
<input type="submit" value="Send" />
</form>

<table class="table table-bordered" style="width:100%">

{% for message in chat.message_set.all %}

	<tr>
		<td>{{message.datetime}}</td>
		<td>{{message.user}}</td>
		<td>{{message.content}}</td>
	</tr>


{% endfor %}

</table>

{% endblock %}