{% extends "base.html" %}

{% block content %}

<h2>Available chats:</h2>

{% if chat_list %}
<table class="table">
	<tr>
		<th><a id="" href="{% url 'chat:index' %}">Name</a></th>
		<th><a id="" href="{% url 'chat:indexByGroup' %}">Group</a></th>
		<th>Messages</th>
	</tr>

	{% for chat in chat_list %}
	<tr>
		<td><a id="" href="{% url 'chat:chat_room' chat.id %}"> {{ chat.name }}</a></td>
		<td>{{ chat.group.name }}</td>
		<td>{{ chat.message_set.count }}</td>
	</tr>
	{% endfor %}
</table>
 
{% else %}
 
No chats are available.
 
{% endif %}

{% endblock %}