{% extends "base.html" %}

{% block content %}

<h2>Tasks list:</h2>

{% for x in item %}
<p>Managed by <i>< {{x.user}} ></i></p>
<p><b>Task objective:</b> {{ x.name }} - started at {{ x.created|date:"(D) d M Y H:m" }}</p>
<p><b>Details:</b></p>
<p>{{ x.desc }}</p>

<p><b>Priority:</b> {{ x.priority }} <b>Difficulty:</b> {{ x.difficulty }}</p>
<p>
    {% if x.done %}
        <b>Completed? </b>Yes. <img src="/static/admin/img/icon-yes.gif" /> <b>Progress: </b> 100%
    {% else %}
        <b>Completed? </b>No. <img src="/static/admin/img/icon-no.gif" /> <b>Progress: </b> {{ x.progress }}%
    {% endif %}

</p>
<hr/><hr/>

{% endfor %}

{% endblock %}