{% extends "base.html" %}

{% block content %}

<h2>INBOX:</h2>

{% if inbox_list %}
<table class="table">
  <tr>
    <th><a id="" href="{% url 'privmsg:inbox' %}">Subject</a></th>
    <th><a id="" href="{% url 'privmsg:inboxByUser' %}">From</a></th>
    <th><a id="" href="{% url 'privmsg:inboxByDate' %}">Date</a></th>
    <th><a id="" href="{% url 'privmsg:inboxByRead' %}">Read</a></th>
  </tr>

  {% for msg in inbox_list %}
  <tr>
    <td><a id="" href="{% url 'privmsg:show' msg.id %}">{{ msg.subject }}</a></td>
    <td>{{ msg.fromUser }}</td>
    <td>{{ msg.datetime }}</td>
    <td>{{ msg.readdatetime }}</td>
  </tr>
  {% endfor %}
</table>


 
{% else %}
 
Your inbox is empty
 
{% endif %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<h2>Write new message:</h2>
  <form role="form" action="{% url 'privmsg:send' %}" method="post">
  	{% csrf_token %}
    <div class="form-group">
      <label for="touser">To:</label>
      <input type="touser" class="form-control" id="touser" name="touser" placeholder="Enter user">
    </div>
    <div class="form-group">
      <label for="subject">Subject:</label>
      <input type="subject" class="form-control" id="subject" name="subject" placeholder="Enter subject">
    </div>
    <div class="form-group">
      <textarea class="form-control" rows="5" id="content" name="content"></textarea>
    </div>
    <button type="submit" class="btn btn-default">Send</button>
  </form>

{% endblock %}