{% extends "base.html" %}

{% block content %}

<h2>OUTBOX:</h2>

{% if outbox_list %}
<ul>
<ul>{% for msg in outbox_list %}</ul>
</ul>
 
<ul>
<ul>
    <li><a id="" href="{% url 'privmsg:show' msg.id %}"> {{ msg.subject }}</a></li>
</ul>
</ul>
 
<ul>{% endfor %}</ul>
 
{% else %}
 
Your outbox is empty
 
{% endif %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<h2>Write new message:</h2>
  <form role="form" action="{% url 'privmsg:send' %}" method="post">
  	{% csrf_token %}
    <div class="form-group">
      <label for="touser">To:</label>
      <input type="touser" class="form-control" id="touser" name="touser" placeholder="Enter user">
    </div>
    <div class="form-group">
      <label for="subject">Subject:</label>
      <input type="subject" class="form-control" id="subject" name="subject" placeholder="Enter subject">
    </div>
    <div class="form-group">
      <textarea class="form-control" rows="5" id="content" name="content"></textarea>
    </div>
    <button type="submit" class="btn btn-default">Send</button>
  </form>

{% endblock %}