{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}My Base Template{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/default.css" >
	
    <script src="{% get_static_prefix %}js/jquery-2.0.0.min.js"></script>
    <script src="{% get_static_prefix %}js/ajax.js"></script>
    
</head>

<body>
	{% if user.is_authenticated %}

    You are logged as {{ user.get_full_name }}. <a href="/accounts/logout">Logout</a>

    {% else %}

    Please <a href="/accounts/login">login</a>

    {% endif %}

    <div id="sidebar">
        {% block sidebar %}
        <ul>
            
            <li><a href="/chats/">Chats</a></li>
            <li><a href="/pm/">Private Messages</a></li>
            <li><a href="/files/">Files</a> </li>
            <li><a href="/taskman/">Taskman</a> </li>
            <li><a href="/history/">History</a> </li>
            <li><a href="/admin/">Admin</a></li>
        </ul>
        {% endblock %}
    </div>
        
        {% block content %}This is the content area{% endblock %}
	
	
		
</body>
</html>
